<div class="container-lg">
  <header class="mb-4">
    <h1 class="text-dark mb-0">Personagens R&M</h1>
  </header>

  <div class="d-flex justify-content-between align-items-center mb-4">
    <div class="d-flex gap-2">
      <div class="input-group gap-3">
        <input type="text" [formControl]="searchControl" class="form-control" placeholder="Pesquisar...">
        <select [formControl]="statusControl" class="form-select">
          <option value="">Todos</option>
          <option value="alive">Vivo</option>
          <option value="dead">Morto</option>
          <option value="unknown">Desconhecido</option>
        </select>
      </div>
    </div>
    <small class="text-muted">Total de personagens: {{ maxTotalCharacters() }}</small>
  </div>

  <h4 class="mb-3 text-secondary">
    {{ totalCharacters() }} resultados encontrados
    <span *ngIf="hasSearchTerm() || hasStatus()">
      para
      <span *ngIf="hasSearchTerm()">"{{ searchTerm() }}"</span>
      <span *ngIf="hasSearchTerm() && hasStatus()"> com o status </span>
      <span *ngIf="hasStatus()">"{{ statusLabel() }}"</span>
    </span>
  </h4>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-4">
    <div class="col" *ngFor="let character of characters()">
      <app-character-card [character]="character"></app-character-card>
    </div>
  </div>

  <app-pagination [currentPage]="currentPage()" [totalPages]="totalPages()"
    (pageChanged)="onPageChange($event)"></app-pagination>

  <footer class="mt-5 pt-4 text-muted border-top">
    <div class="container">
      Direitos reservados para Pedro Caio ©
    </div>
  </footer>
</div>
